{% extends "polls/base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Detalles{% endblock %}</title>
    {% block scripts %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/resources/demos/style.css">

    <style>
        .play_clip_btn {
            margin-left: 10px;
        }
        .clip_container {
            padding: 0px 20px 20px 20px;
        }
        .form_div {
            margin: 20px;
        }
    </style>
    <script>
        function obtenerValorParametro(sParametroNombre) {
            var sPaginaURL = window.location.search.substring(1);
            var sURLVariables = sPaginaURL.split('&');
            for (var i = 0; i < sURLVariables.length; i++) {
                var sParametro = sURLVariables[i].split('=');
                if (sParametro[0] == sParametroNombre) {
                    return sParametro[1];
                }
            }
            return null;
        }

        (function(){
            $.getJSON('/polls/detalle/'+obtenerValorParametro("id")).done(function (data) {
                $.each(data, function (i, item) {
                    $("#media").prepend('<div class="embed-responsive embed-responsive-16by9 hoverable">' +
                        '<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/' +
                        item.fields.url + '?controls=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>');
                    $("#descr").prepend('<p>' + '<b>Usuario:</b>  ' + item.fields['user'] +'</p>');
                    $("#descr").prepend('<p>' + '<b>Ciudad:</b>  ' + item.fields['ciudad'] +'</p>');
                    $("#descr").prepend('<p>' + '<b>Pais:</b>  ' + item.fields['pais'] +'</p>');
                    $("#descr").prepend('<p>' + '<b>Fecha Creación:</b>  ' + item.fields['fecha_creacion'] +'</p>');
                    $("#descr").prepend('<p>' + '<b>Autor:</b>  ' + item.fields['autor'] +'</p>');
                    $("#descr").prepend('<p>' + '<b>Titulo:</b> ' + item.fields['titulo'] +'</p>');
                });
            });
        })();

        // --------------------------------------
        // Clip functions
        // --------------------------------------

        (function(){
            $.getJSON('/polls/detalle/'+obtenerValorParametro("id")+"/clips").done(function (data) {
                if (data.length > 0) {
                    $.each(data, function (i, clip) {
                        $("#clips").prepend('<p>' + clip.nombre + '<button type="button" class="btn btn-default play_clip_btn" id="' +  clip.nombre + '"><span class="glyphicon glyphicon-play"></span></button></p>')
                        $("#" + clip.nombre).click(function() {
                            loadMedia(clip)
                        });
                    });
                } else {
                    $("#clips").prepend('<p>Esta media todavia no tiene clips</p>')
                }
            });
        })();

        function loadMedia(clip) {
            let tipo = clip.media.tipo;
            let url = clip.media.url;
            let start = getSeconds(clip.seg_ini);
            let end = getSeconds(clip.seg_fin);
            $("#media").html('<div class="embed-responsive embed-responsive-16by9 hoverable">' +
                '<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/' + url + '?controls=1&start=' + start + '&end=' + end + '&autoplay=1" frameborder="0" allow="autoplay"; encrypted-media" allowfullscreen></iframe></div>');
        }

        function getSeconds(time) {
            let parts = time.split(":");
            let hours = parseInt(parts[0]);
            let minutes = parseInt(parts[1]);
            let seconds = parseInt(parts[2]);
            return (hours * 3600) + (minutes*60) + seconds;
        }

        function addClip() {
            let nombre = $("#form_nombre").val();
            let seg_ini = $("#form_seg_ini").val();
            let seg_fin = $("#form_seg_fin").val();
            if(nombre.trim() === "" || seg_ini.trim() === "" || seg_fin.trim() === "") {
                showAddClipError("Por favor llene todos los campos");
                return false;
            }

            let seg_ini_parts = seg_ini.trim().split(":");
            let seg_fin_parts = seg_fin.trim().split(":");
            if(seg_ini_parts.length === 2) {
                seg_ini += ":00";
            }

            if(seg_fin_parts.length === 2) {
                seg_fin += ":00";
            }

            $.ajax({
                type: "POST",
                url: '/polls/detalle/'+obtenerValorParametro("id")+"/clips/new",
                data: JSON.stringify({
                    nombre: nombre,
                    seg_ini: seg_ini,
                    seg_fin: seg_fin
                }),
                contentType: "application/json; charset=UTF-8",
                dataType: "json",
                success: function (data) {
                    window.location.reload();
                    console.log("No recargo")
                },
                failure: function (errMsg) {
                    showAddClipError("Hubo un error.");
                }
            });
            return false;
        }

        function showAddClipError(message) {
            $("#add_clip_error").text(message).css({ display: "block" });
        }
    </script>
    {% endblock %}
</head>
<body>
{% block content %}
<h1 align="center">Detalle Galeria</h1>
<div class="col-md-6" id="media"></div>
<div class="col-md-6" id="descr"></div>
<div class="row">
    <div class="container-fluid">
        <div class="ui-widget-content ui-corner-all col-lg-12 clip_container">
            <h3>Clips Recomendados</h3>
            <div id="clips"></div>
        </div>
    </div>
    {% if user.is_authenticated %}
    <div class="container-fluid">
        <div class="ui-widget-content ui-corner-all col-lg-12 clip_container">

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
             Agregar Clip
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Agregar Clip</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                       <div class="alert alert-danger" style="display: none;" id="add_clip_error">
                            <label id = "mensaje"></label>
                        </div>
                      <p>Ej: 12:05:23 a.m es equivalente al minuto 05:23 del video (el input time no se renderiza igual en todos los navegadores)</p>
                     <form action="" method="post" onsubmit="return addClip()">
                        <div class="form_div">
                            <label for="form_nombre">Nombre</label>
                            <input type="text" name="form_nombre" id="form_nombre">
                        </div>
                        <div class="form_div">
                            <label for="form_seg_ini">Seg Ini</label>
                            <input type="time" step="1" name="form_seg_ini" id="form_seg_ini">
                        </div>
                        <div class="form_div">
                            <label for="form_seg_fin">Seg Fin</label>
                            <input type="time" step="1" name="form_seg_fin" id="form_seg_fin">
                        </div>

                          <div class="modal-footer">
                            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-plus" ></span></button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          </div>
                   </form>
                </div>
              </div>
            </div>

        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
</body>
</html>