{% extends "polls/base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Galeria{% endblock %}</title>
    {% block scripts %}
    <script>
        (function(){
            // $.getJSON("https://agilesgaleriagrupo4.herokuapp.com/polls/media").done(function (data) {
            $.getJSON("/polls/media").done(function (data) {
                $.each(data, function (i, item) {
                    if(item.fields.tipo.toUpperCase() == "AUDIO"){
                        $("#media").prepend('<div class="col-md-4 col-sm-6 col-lg-3 well">' +
                            '<a href="/polls/ver_detalle?id=' + item.pk + '">' +
                            '<iframe width="300" height="200" scrolling="no" frameborder="0" ' +
                            'src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/'+ item.fields.url +
                            '&color=%23ff5500&visual=true&auto_play=false&hide_related=true&show_comments=false&show_user=false&show_reposts=false&show_teaser=false&visual=true&controls=0" ></iframe></a>' +
                            '<a href="/polls/ver_detalle?id=' + item.pk + '"><p class="btn-link">'+ item.fields.titulo +'</p></a>');
                    }
                    else if(item.fields.tipo.toUpperCase() == "VIDEO"){
                        $("#media").prepend('<div class="col-md-4 col-sm-6 col-lg-3 well">' +
                        '<a href="/polls/ver_detalle?id=' + item.pk + '">' +
                            '<img width="300" height="200" src="https://img.youtube.com/vi/'+ item.fields.url + '/0.jpg" ></img></a>' +
                            '<a href="/polls/ver_detalle?id=' + item.pk + '"><p class="btn-link">'+ item.fields.titulo +'</p></a>');
                    }
                    else {
                         $("#media").append('<h2 class="text-center">No hay nada para mostrar 😢 </h2>')
                    }
                });
            });
        })();
    </script>

    <script>
        (function(){
            // $.getJSON("https://agilesgaleriagrupo4.herokuapp.com/polls/media").done(function (data) {
            $.getJSON("/polls/categoria").done(function (data) {
                $.each(data, function (i, item) {
                     $("#categoria").prepend('<option value="'+item.fields.nombre+'">'+
                      item.fields.nombre.toUpperCase() + '</option>');

                });
            });
        })();
    </script>

    <script>
        function enviarForm() {

        if($('#categoria').val() == 'Seleccionar Categoria' || $('#tipo').val()=='Tipo de media'){
        return false;
        }
        $.ajax({
        type: "POST",
        url: "/polls/index/",
        data: JSON.stringify({
        categoria: $('#categoria').val(),
        tipo: $('#tipo').val()
        }),
        contentType: "application/json; charset=UTF-8",
        dataType: "json",
        success: function (data) {
        window.location = "/polls/verMedia"
        },
        failure: function (errMsg) {
        alert("Hubo un error.")
    </script>



    {% endblock %}
</head>
<body>
{% block content %}
<h1 align="center">Galeria</h1>
                     <li>
                         <form method="post" action="" onsubmit="return enviarForm();">
                             <label>Tipo:</label>
                              <select name="tipo" id="tipo">
                                <option selected>Tipo de media</option>
                                <option value="VIDEO">VIDEO</option>
                                <option value="AUDIO">AUDIO</option>
                              </select>
                             <label>Categoría:</label>
                             <select name="categoria" id="categoria">
                             <option selected>Seleccionar Categoria</option>
                             </select>
                             <input type="search" name="q" placeholder="Buscar"/>
                             <button type="submit" class="btn btn-default">Buscar</button>
                         </form>
                     </li>

<div class="row" id="media"></div>
{% endblock %}
</body>
</html>