
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Galeria</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script>
        (function(){
            // $.getJSON("https://agilesgaleriagrupo4.herokuapp.com/polls/media").done(function (data) {
            $.getJSON("/polls/media").done(function (data) {
                $.each(data, function (i, item) {
                    if(item.fields.tipo.toUpperCase() == "AUDIO"){
                        $("#media").prepend('<div class="col-md-4 col-sm-6 col-lg-3 well">' +
                            '<a href="/polls/ver_detalle?id=' + item.pk + '">' +
                            '<iframe width="300" height="200" scrolling="no" frameborder="0" ' +
                            'src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/'+ item.fields.url +
                            '&color=%23ff5500&visual=true&auto_play=false&hide_related=true&show_comments=false&show_user=false&show_reposts=false&show_teaser=false&visual=true&controls=0" ></iframe></a>' +
                            '<a href="/polls/ver_detalle?id=' + item.pk + '"><p class="btn-link">'+ item.fields.titulo +'</p></a>');
                    }
                    else if(item.fields.tipo.toUpperCase() == "VIDEO"){
                        $("#media").prepend('<div class="col-md-4 col-sm-6 col-lg-3 well">' +
                        '<a href="/polls/ver_detalle?id=' + item.pk + '">' +
                            '<img width="300" height="200" src="https://img.youtube.com/vi/'+ item.fields.url + '/0.jpg" ></img></a>' +
                            '<a href="/polls/ver_detalle?id=' + item.pk + '"><p class="btn-link">'+ item.fields.titulo +'</p></a>');
                    }
                    else {

                    }


                });
            });
        })();

    </script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-target="#navbar" aria-expanded="false">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">Galeria</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav"></ul>
            <ul class="nav navbar-nav navbar-right">
                <!--<li id="add_image"><a href="http://localhost:9000/polls/agregarImagen">Agregar Imagen</a></li>-->
                <!--<li id="add_user"><a href="http://localhost:9000/polls/agregarUsuario">Registro</a></li>-->
                <!--<li id="cerrar_sesion"><a class="glyphicon glyphicon-log-out" href="#"-->
                                          <!--id="clic_cerrar_sesion" onclick="logout();">Logout</a></li>-->
                <!--<li id="login_user"><a class="glyphicon glyphicon-log-in"-->
                                       <!--href="http://localhost:9000/polls/ingresar">Login</a></li>-->
            </ul>
        </div>
    </div>
</nav>
<br>
<br>
<h1 align="center">Galeria</h1>
    <div class="row" id="media"></div>
</body>
</html>