{% extends "polls/base.html" %}
<!DOCTYPE html>
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load staticfiles %}
<html lang="en">
<head>
    <title>{% block title %}Modificar usuario{% endblock %}</title>
    {% block scripts %}
	<link rel="stylesheet" type="text/css" href="">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    {% endblock %}
</head>
<body>

{% block content %}
<div class="row">
    <div class="col-md-6 col-sm-offset-3">
        <div class="page-header">
            <h2>Editar Profile</h2>
        </div>
        <form method="post" action ="" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_form usuarioform %}
        {% buttons %}
        <input type="submit" value="Actualizar" class="btn btn-primary"/>
        <a href="{% url 'media1:verMedia' %}" class="btn btn-primary">Cancelar</a>
        <a href="{% url 'media1:updatePassword' %}" class="btn btn-primary">Cambiar clave</a>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Cambiar contraseña modal</button>
        {% endbuttons %}
        </form>
    </div>
</div>
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Cambiar Contraseña</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action ="">
        {% csrf_token %}
            <!-- Aqui cargo el formulario deseado-->
        {% bootstrap_form passform %}
        {% buttons %}
            <div class="modal-footer">
                <input type="submit" value="Actualizar" class="btn btn-primary"/>
                <a href="{% url 'media1:modificarUsuario' %}" class="btn btn-primary">Cancelar</a>
                {% endbuttons %}
            </div>
        </form>
      </div>
    </div>
    </div>
  </div>
</div>

{% endblock %}



</body>
</html>