{% extends "polls/base.html" %}
<!DOCTYPE html>
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load staticfiles %}
<html lang="en">
<head>
    <title>{% block title %}Modificar usuario{% endblock %}</title>
    {% block scripts %}
	<link rel="stylesheet" type="text/css" href="">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    {% endblock %}
</head>
<body>
{% block content %}
<div class="row">
    <div class="col-md-6 col-sm-offset-3">
        <div class="page-header">
            <h2>Edit Profile</h2>
        </div>
        <form method="post" action ="" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_form usuarioform %}
        {% buttons %}
        <input type="submit" value="Actualizar" class="btn btn-primary"/>
        <a href="{% url 'media1:verMedia' %}" class="btn btn-primary">Cancelar</a>
        <a href="{% url 'media1:updatePassword' %}" class="btn btn-primary">Cambiar clave</a>
        {% endbuttons %}
        </form>
    </div>
</div>
{% endblock %}
</body>
</html>