<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <title>Registrar Usuario</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<body>
<div class="border border-light">
    <form method="POST" action="">{% csrf_token%}
         <div class="form-group">
            {{form.as_p}}
                <input  class="btn btn-primary" type="submit" value="Registrarse"/>
        </div>
    </form>
</div>

</body>
</html>