{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
    <div class="row">
    <div class="col-md-6 col-sm-offset-3">
        <div class="page-header">
            <h2>Cambiar contraseña</h2>
        </div>
        <form method="post" action ="">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <input type="submit" value="Actualizar" class="btn btn-primary"/>
        <a href="{% url 'media1:modificarUsuario' %}" class="btn btn-primary">Cancelar</a>
        {% endbuttons %}
        </form>
    </div>
</div>
{% endblock %}
